/* Основное */
body {
    margin: 0;
}

.padding {
    padding: 50px
}

html {
    font-family: "Neucha", cursive;
    font-weight: 400;
    font-style: normal;
}

/* заголовок */
.head {
    display: inline-block;
    margin: 1.5em 3% 1.5em 3%;
    font-size: x-large;
    color: black;
    color: inherit;
    transition: 1s;
}

.head a {
    color: black;
    color: inherit;
}
    
.head:hover {
    transform: scale(1.2)
}

header {
    text-align: center;
    position:fixed;
    z-index: 100;
    width: 100%;
}

/* Контакты */
.contacts-pos {
    position: fixed;
    bottom: 0;
    margin: 2%;
}
.contacts {
    text-align: left;
}

.telegram-icon:hover {
    filter: invert(45%) sepia(92%) saturate(545%) hue-rotate(150deg) brightness(94%) contrast(106%);
}

.phone-icon:hover {
    filter: invert(37%) sepia(95%) saturate(3607%) hue-rotate(136deg) brightness(101%) contrast(101%);
}

.github-icon {
    opacity: 50%;
}

.github-icon:hover {
    opacity: 100%;
}

/* контент главной страницы */

hr {
	margin: 20px 0;
	padding: 0;
	height: 3px;
	border: none;
	background: linear-gradient(45deg, #333, #ddd);
}

.hi-text{
    position: absolute;
    top: 50%;
    left: 60%;
    transform: translate(-50%, -50%)
}

.textcols {
	white-space: nowrap;
}
.textcols-item {
	white-space: normal;	
	display: inline-block;
	width: 30%;
	vertical-align: top;
}
.textcols .textcols-item:first-child {
	margin-right: 4%;
}
.main-page-image{
    width: 50%;
}

.big-hello{
    font-size:small;
}

.myName{
    font-size: xx-large;
    margin: 10% 0% 10% 0%;
}

/* skills */
.ajaxMenuBeckground{
    text-align: center;
    border:2px solid rgb(231, 188, 224);
    border-radius: 10px;
    width: 20%;
    height: 70%;
    float: right;
    padding: 1.5%;
    margin-right: 2%;
}

button{
    border-radius: 10px;
    background-color: rgb(188, 182, 235);
    padding: 3%;
    border-width: 0;
    margin: 5px;
}

.button-selected{
    background-color: rgb(129, 120, 201);
    margin: 4%;
}

.ajaxBlocks{
    padding: 0 0 2% 0;
}

.button-block {
    padding: 2% 0% 5% 0
}